# Default ignored files
/../../SingletonPatternExample./.idea/shelf/
/../../SingletonPatternExample./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SingletonPatternExample./.idea/httpRequests/
# Ignored default folder with query files
/../../SingletonPatternExample./.idea/queries/
# Datasource local storage ignored files
/../../SingletonPatternExample./.idea/dataSources/
/../../SingletonPatternExample./.idea/dataSources.local.xml
